body {
    margin: 0;
    box-sizing: border-box;
    background-color: hsl(212, 45%, 89%);
}

.qr-code_component {
    position: relative;
    width: 100vw;
    min-width: 375px;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-code__wrapper {
    margin: 0 auto;
    width: 320px;
    height: 500px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow:   0px 22.6px 24.8px rgba(0, 0, 0, 0.04),
    0px 51px 80px rgba(0, 0, 0, 0.06);
}

.qr-code__image-wrapper {
    margin-top: 16px;
    width: 288px;
    height: 288px;
    border-radius: 10px;
    overflow: hidden;
}

.qr-code__image-wrapper img {
    width: 288px;
    height: 288px;
}

.qr-code__descr-wrapper {
    width: 250px;
    margin-top: 30px;
    font-family: Outfit,sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-code__title {
    margin: 0;
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: hsl(218, 44%, 22%);
}

.qr-code_text {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.attribution { 
    position: absolute;
    bottom: 10px;
    font-size: 11px;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
